<section class="section" style="  !important;">
{{>messages}}

    <h1 class="text-center my-4">Ejercicios creados</h1>
    <form class="container d-flex justify-content-between my-3" action="/ejercicios/search" method="post">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search"><i class="fas fa-search"></i></span>
            </div>
            <input type="search" class="form-control" name="search" value="{{searchterm}}" placeholder="ingresa el valor a buscar y luego presiona enter" aria-label="search"
                aria-describedby="search">
                 <div class="input-group-prepend">
                <a href="/ejercicios" class=" btn input-group-text text-success"><i class="fas fa-refresh mr-1"></i> Refresh</a>
            </div>
                
        </form>
    </div>
    {{#each ejercicios}}
    <div class="accordion container" id="accordionExample">
        <div class="card">
            <div class="card-header d-flex p-2 align-items-center" id="heading{{id_ejercicio}}">
                <div class="col-md-1 col-sm-1 col-2 p-0  "><img class="imgbody mx-2" src="/images/body/bodypart_{{zona_anatomica}}.png"></div>
                <div class="col-md-11 col-sm-11 col-10">
                    <h2 class="mb-0">
                        <button  class="btn btn-block btn-ejercicio" type="button" data-toggle="collapse"
                            data-target="#ejercicio{{id_ejercicio}}" aria-expanded="true"
                            aria-controls="{{id_ejercicio}}">{{nombre_ejercicio}}
                        </button>
                    </h2>
                </div>
                
            </div>

            <div id="ejercicio{{id_ejercicio}}" class="collapse " aria-labelledby="heading{{id_ejercicio}}"
                data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Zona Anatomica : {{zona_anatomica}}</h3>
                            <p>{{descripcion}}</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4> Nivel de dificultad : {{nivel}} </h4>
                        </div>
                        <div class="col-md-12 ">
                            <iframe width="100%" height="400" src="{{link_video}}">
                            </iframe>
                        </div>
                        <div class="col-md-12">
                            <p><strong>Contraindicaciones : </strong> {{contraindicaciones}}</p>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end">
                    <a href="/ejercicios/delete/{{id_ejercicio}}" class="btn btn-danger rounded mx-2">Eliminar <i class="far fa-trash-alt"></i>
                    </a>
                    <a  href="/ejercicios/edit/{{id_ejercicio}}" class="btn btn-warning rounded  mx-2">Modificar <i
                            class="far fa-edit"></i></i></a>
                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/each}}


</section>