<section class="section">
    {{>messages}}
 <div class="container px-0 rounded mb-5  border card shadow bg-light editprofile">
     <div class="card-header">
         <h2 >Perfil de usuario</h2>
     </div>
        <div class="row card-body">
            <div class="col-md-3 border-right ">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://randomuser.me/api/portraits/men/{{user.id_user}}.jpg"><span
                        class="font-weight-bold">
                        {{user.nombre_user}} {{user.apellido_user}}</span><span
                        class="text-black-50">{{user.mail_user}}</span><span> </span></div>
            </div>
            <div class="col-md-9 ">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-md-4 ">
                            <h4> <strong>Nombre</strong> </h4>
                            {{#if user.nombre_user}}
                             <p >{{user.nombre_user}}</p>
                            {{else}} 
                             <p >-</p>
                            {{/if}}
                        </div>
                        <div class="col-md-4 ">
                            <h4><strong>Apellido</strong></h4>
                            {{#if user.apellido_user}}
                             <p >{{user.apellido_user}}</p>
                            {{else}} 
                             <p >-</p>
                            {{/if}}
                        </div>
                        <div class="col-md-4 ">
                           <h4> <strong>Correo electrónico</strong></h4>
                            {{#if user.mail_user}}
                            <p>{{user.mail_user}}</p>
                            {{else}} 
                             <p >-</p>
                            {{/if}}
                        </div>
                        
                    </div>
                    <div class="row mt-3 "> 
                        <div class="col-md-4 ">
                            <h4><strong>Tipo de documento</strong></h4>
                            {{#if user.id_tipoDoc}}
                            <p>{{user.id_tipoDoc}}</p>
                            {{else}} 
                            <p>-</p>
                            {{/if}}
                        </div>
                        <div class="col-md-5">
                             <h4><strong>Numero de documento</strong></h4>
                            
                            {{#if user.nro_doc}}
                            <p>{{user.nro_doc}}</p>
                            {{else}} 
                            <p >-</p>
                            {{/if}}
                        </div>
                        <div class="col-md-3">
                            <h4><strong>Nacionalidad</strong></h4>
                            
                            {{#if user.Nacionalidad}}
                            <p>{{user.Nacionalidad}}</p>
                            {{else}} 
                            <p >-</p>
                            {{/if}}
                        </div>

                    </div>
                    <div class="row mt-3"> 
                       <div class="col-md-4 ">
                            <h4><strong>Teléfono de contacto</strong></h4>
                            {{#if user.tel_contacto}}
                             <p >{{user.tel_contacto}}</p>
                            {{else}} 
                             <p>-</p>
                            {{/if}}
                       </div>
                        

                    </div>

                    <div class="mt-5 text-right"> 
                        <a href="/users/editProfile"  class="btn text-white profile-button"  type="button" style="background-color: #6351ce;" >Modificar perfil <i class="fas fa-edit"></i> 
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>