<section class="section ">
    <div id="signIn" class="row">
        
        <div class="col-lg-4 col-md-6 col-sm-8  mx-auto my-auto">
            {{>errors}}
            <div class="card shadow border">
                
                <div class="card-header"><h4>Registro de usuario</h4></div>
                <div class="card-body">
                    <form action="/users/signup" method="POST">
                        <div class="form-row">                         
                            <div class="col-6 form-group">
                                <label for="nombre">Nombre</label>
                                <input name="nombreUsuario" type="text" class="form-control" placeholder="Nombre" value="{{nombreUsuario}}"> 
                            </div>
                            <div class="col-6 form-group ">
                                <label for="apellido">Apellido</label>
                                <input name="apellidoUsuario" type="text" class="form-control" placeholder="Apellido" value="{{apellidoUsuario}}">
                            </div>
                            
                            <div class="col-12 form-group">
                                <label for="email">Direccion de correo electronico</label>
                                <input name="emailUsuario" type="email" class="form-control" placeholder="example@email.com.ar" value="{{emailUsuario}}">
                            </div>
                            <div class="col-12 form-group">
                                <label for="password">Contraseña</label>
                                <input name="passwordUsuario" type="password" class="form-control" value="{{passwordUsuario}}">
                            </div>
                            <div class="col-12 form-group">
                                <label for="confirmpassword">Repetir contraseña</label>
                                <input name="confirmpassword" type="password" class="form-control" value="{{confirmpassword}}">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Registrarse <i class="fas fa-lock-open"></i></button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>